<div class="nav-bar">
  <%= link_to "All cocktails", cocktails_path, class: "top-btn" %>
  <%= link_to "New cocktail", new_cocktail_path, class: "top-btn" %>
</div>

<div class="title-container">
  <h2><%= @cocktail.name %></h2>
</div>

<div class="cocktail-container">

  <%= cl_image_tag @cocktail.photo.key, height: 500, width: 400 %>

  <%= link_to "New dose", new_cocktail_dose_path(cocktail_id: @cocktail.id) %>

  <% @cocktail.doses.each do |dose| %>
    <%= dose.description %>
    <%= dose.ingredient.name %>
  <% end %>


</div>
