<div class="nav-bar">
  <%= link_to "All cocktails", cocktails_path, class: "top-btn" %>
  <%= link_to "New cocktail", new_cocktail_path, class: "top-btn" %>
</div>

<div class="title-container">
  <h2>Add dose</h2>
</div>

<div class="form-container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredients %>
    <%= f.button :submit %>
  <% end %>
</div>
